*.iml
.gradle
/local.properties
/.idea/caches
/.idea/csv-plugin.xml
/.idea/deploymentTargetDropDown.xml
/.idea/libraries
/.idea/modules.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/app/build/
/app/release/
/captures
.externalNativeBuild
.cxx
local.properties
/tmp
/bin/__pycache__/
