# Android Studio
*.iml
.gradle
/local.properties
.idea/caches/
/.idea/workspace.xml
/.idea/libraries
build/
/captures
.idea/caches/

# Unused source assets. They may get used later.
/source-assets/unused/

/tmp/

# OS X
.DS_Store

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Python
*.py[co]
