<?xml version="1.0" encoding="utf-8"?>
<!--
 installLocation=internalOnly so enabling USB mass storage to share files
      with a computer won't delete the app's home screen widgets.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.onefishtwo.bbqtimer"
          android:installLocation="internalOnly" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/full_backup_content"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:appCategory="productivity"
        android:description="@string/app_description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:enableOnBackInvokedCallback="true"
        android:supportsRtl="false"
        android:localeConfig="@xml/locales_config"
        tools:targetApi="s"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- <profileable android:shell="true"/> -->

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|mcc|mnc"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                       android:resource="@xml/shortcuts" />
            <!-- https://developer.android.com/guide/topics/ui/multi-window.html -->
            <!--suppress AndroidElementNotAllowed -->
            <layout android:minWidth="@dimen/activityMinWidth"
                    android:minHeight="@dimen/activityMinHeight"/>
        </activity>

        <receiver android:name=".TimerAppWidgetProvider"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>

        <receiver
            android:name=".ResumeReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <!-- TODO: ACTION_BOOT_COMPLETED, ACTION_LOCKED_BOOT_COMPLETED? -->
            </intent-filter>
        </receiver>
    </application>

</manifest>
