<?xml version="1.0" encoding="utf-8"?>
<!--
 installLocation=internalOnly so enabling USB mass storage to share files
      with a computer won't delete the lock/home screen widgets.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onefishtwo.bbqtimer"
    android:installLocation="internalOnly" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:description="@string/app_description"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|mcc|mnc"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                       android:resource="@xml/shortcuts" />
            <layout android:minWidth="@dimen/activityMinWidth"
                    android:minHeight="@dimen/activityMinHeight"/>
        </activity>

        <receiver android:name=".TimerAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>

        <receiver
            android:name=".ResumeReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
